body {
  text-align: center;
  background-color: cornsilk;
}

.btn {
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid grey;
  border-radius: 10px;
}

/*
  Form
*/

#new-book-form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  height: 750px;
  width: 750px;
  background-color: crimson;
  margin: 25px auto;
  display: none;
}

.form-input {
  border: 1px solid blue;
  width: 80%;
  padding: 20px;
}

.form-input input[type="text"], input[type="number"] {
  width: 80%;
}

.form-input input[type="submit"] {
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid grey;
  border-radius: 10px;
}

/*
  Table
*/

.table-container {
  width: 750px;
  background-color: seagreen;
  margin: 25px auto;
}

.table-container table, th, td{
  border: 1px solid black;
  padding: 10px;
}

.table-container table {
  width: 100%;
}